<a href="https://colab.research.google.com/github/Wandazz/Shopee-NDSC/blob/main/NDSC_Seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bank = pd.read_csv('/content/bank_statement.csv')
checkout = pd.read_csv('/content/checkout.csv')

In [ ]:
bank.head()

   stmt_id  stmt_amount                                               desc
0        1       100.00  INSTANT TRANSFER    BAW CGANBAWI YIWHI * LEZC ...
1        2        23.77                              WOOG CARIZA NIWSI YO
2        3        18.00  ZOMAZAW MABIX ATMA *  BUGW * KZBUGW - TRANSFER...
3        4        21.87  TRANSFER GO LA/FA   AHHA PUYIMA        * YEBF ...
4        5        53.68  INSTANT TRANSFER    FABZUN WIQAT JIW FA* TEGF ...

In [ ]:
checkout.head()

   ckt_id  ckt_amount                               buyer_name
0       1       20.00                        SAVMUEJICE EPHOCP
1       2       14.91  LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2       3       13.20                              SUQ UNAISIE
3       4       36.90                  GOZK BIHKAUT LIV LATAPI
4       7       26.29         HUY ZABIRAN HATIZAN WIHMI IRYIZ

In [ ]:
bank.nunique()

stmt_id        240000
stmt_amount     18340
desc           240000
dtype: int64

In [ ]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   stmt_id      240000 non-null  int64
 1   stmt_amount  240000 non-null  float64
 2   desc         240000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 5.5+ MB

In [ ]:
checkout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ckt_id      240000 non-null  int64
 1   ckt_amount  240000 non-null  float64
 2   buyer_name  240000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 5.5+ MB

In [ ]:
checkout.nunique()

ckt_id        240000
ckt_amount     18340
buyer_name    239974
dtype: int64

In [ ]:
bank.isnull().sum()

stmt_id        0
stmt_amount    0
desc           0
dtype: int64

In [ ]:
checkout.isnull().sum()

ckt_id        0
ckt_amount    0
buyer_name    0
dtype: int64

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–",'*','TRANSFER','INSTAN','TO','A/C']

In [ ]:
for char in spec_chars:
    bank['desc'] = bank['desc'].str.replace(char, ' ')

In [ ]:
bank.head()

   stmt_id  stmt_amount                                               desc
0        1       100.00   T      BAW CGANBAWI YIWHI   LEZC  HXA   ZLLEZ...
1        2        23.77                              WOOG CARIZA NIWSI YO
2        3        18.00      ZOMAZAW MABIX ATMA    BUGW   KZBUGW       A C
3        4        21.87    GO LA FA   AHHA PUYIMA          YEBF  GNA   ...
4        5        53.68   T      FABZUN WIQAT JIW FA  TEGF  PYA   ATTEG...

In [ ]:
bank

        stmt_id  stmt_amount                                               desc
0             1       100.00   T      BAW CGANBAWI YIWHI   LEZC  HXA   ZLLEZ...
1             2        23.77                              WOOG CARIZA NIWSI YO
2             3        18.00      ZOMAZAW MABIX ATMA    BUGW   KZBUGW       A C
3             4        21.87    GO LA FA   AHHA PUYIMA          YEBF  GNA   ...
4             5        53.68   T      FABZUN WIQAT JIW FA  TEGF  PYA   ATTEG...
...         ...          ...                                                ...
239995   239996        45.63                       RV WC  XUH AQLIXA GIXYI WAX
239996   239997        63.30    RO MA BA   EYEKIA AT GXAZMIB    YELB  RXA   ...
239997   239998         9.76   T      PUZ JATITI WJAJIZAJ  TEDW  HZA   DTTED...
239998   239999       145.00  WUVIJA XAJVISA FISD  SURWISZ POYER   AKSURWISZ...
239999   240000        30.28  WEE BIAJ SUI         BCC QD SHOPEE LV XALDZ   ...

[240000 rows x 3 columns]

In [ ]:
bank['desc'].values

array([' T      BAW CGANBAWI YIWHI   LEZC  HXA   ZLLEZC  FUNDSHXA   ',
       '    WOOG CARIZA NIWSI YO ',
       'ZOMAZAW MABIX ATMA    BUGW   KZBUGW       A C', ...,
       ' T      PUZ JATITI WJAJIZAJ  TEDW  HZA   DTTEDW  FUNDSHZA   ',
       'WUVIJA XAJVISA FISD  SURWISZ POYER   AKSURWISZ POYER   ',
       'WEE BIAJ SUI         BCC QD SHOPEE LV XALDZ     XBLV XALDZ       A C'],
      dtype=object)

In [ ]:
checkout['buyer_name']

0                               SAVMUEJICE EPHOCP
1         LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2                                     SUQ UNAISIE
3                         GOZK BIHKAUT LIV LATAPI
4                HUY ZABIRAN HATIZAN WIHMI IRYIZ
                           ...
239995                     VAQFILAPA JIPTI NORABI
239996                JIQI CUWAIVAC FIBQI IFVACIW
239997                MFAFHIYAB JIYVI MFAQMUTTIY
239998              VAHID DUBRQAVIBA JH FOQL ANAD
239999                              HAGOUF GOJBAQ
Name: buyer_name, Length: 240000, dtype: object

In [ ]:
! pip install fuzzymatcher

Collecting fuzzymatcher
  Downloading https://files.pythonhosted.org/packages/9c/36/5e8b8fff12357cb16e6e7e68910c620bdee225a6707c4e42d7f585276449/fuzzymatcher-0.0.5-py3-none-any.whl
Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from fuzzymatcher) (1.1.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from fuzzymatcher) (2.8.1)
Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 7.1MB/s
Collecting metaphone
  Downloading https://files.pythonhosted.org/packages/d4/ae/c9e4d007e32a6469be212da11d0b8e104d643f6f247d771742caf6ac6bb8/Metaphone-0.6.tar.gz
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->fuzzymatcher) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->fuzzymatcher) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->fuzzymatcher) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein->fuzzymatcher) (50.3.2)
Building wheels for collected packages: python-Levenshtein, metaphone
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.0-cp36-cp36m-linux_x86_64.whl size=144795 sha256=ee14dbc56d83d4b6fa4c94b8c51556dba1bbda31f64914a48146f5219bf1f5cc
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-cp36-none-any.whl size=13907 sha256=9a49fe956bc1665b9af35bcb6f7b3ddcd666134a5e0fafd1f13d13711604e839
  Stored in directory: /root/.cache/pip/wheels/4e/7c/f7/162d726fc83491ef23c7a0b989005024eb83a1408c96f32eaf
Successfully built python-Levenshtein metaphone
Installing collected packages: fuzzywuzzy, python-Levenshtein, metaphone, fuzzymatcher
Successfully installed fuzzymatcher-0.0.5 fuzzywuzzy-0.18.0 metaphone-0.6 python-Levenshtein-0.12.0

In [ ]:
bank

        stmt_id  stmt_amount                                               desc
0             1       100.00   T      BAW CGANBAWI YIWHI   LEZC  HXA   ZLLEZ...
1             2        23.77                              WOOG CARIZA NIWSI YO
2             3        18.00      ZOMAZAW MABIX ATMA    BUGW   KZBUGW       A C
3             4        21.87    GO LA FA   AHHA PUYIMA          YEBF  GNA   ...
4             5        53.68   T      FABZUN WIQAT JIW FA  TEGF  PYA   ATTEG...
...         ...          ...                                                ...
239995   239996        45.63                       RV WC  XUH AQLIXA GIXYI WAX
239996   239997        63.30    RO MA BA   EYEKIA AT GXAZMIB    YELB  RXA   ...
239997   239998         9.76   T      PUZ JATITI WJAJIZAJ  TEDW  HZA   DTTED...
239998   239999       145.00  WUVIJA XAJVISA FISD  SURWISZ POYER   AKSURWISZ...
239999   240000        30.28  WEE BIAJ SUI         BCC QD SHOPEE LV XALDZ   ...

[240000 rows x 3 columns]

In [ ]:
checkout

        ckt_id  ckt_amount                               buyer_name
0            1       20.00                        SAVMUEJICE EPHOCP
1            2       14.91  LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2            3       13.20                              SUQ UNAISIE
3            4       36.90                  GOZK BIHKAUT LIV LATAPI
4            7       26.29         HUY ZABIRAN HATIZAN WIHMI IRYIZ
...        ...         ...                                      ...
239995  329026       15.00                   VAQFILAPA JIPTI NORABI
239996  329027       70.39              JIQI CUWAIVAC FIBQI IFVACIW
239997  329030       35.08              MFAFHIYAB JIYVI MFAQMUTTIY
239998  329031       20.62            VAHID DUBRQAVIBA JH FOQL ANAD
239999  329032       16.77                            HAGOUF GOJBAQ

[240000 rows x 3 columns]

In [ ]:
from pathlib import Path
import fuzzymatcher
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
def match_name(desc,buyer_name min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.ratio(desc, buyer_name)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

In [ ]:
data = bank.merge(checkout, 
                        left_on='stmt_id', 
                        right_on='ckt_id')

In [ ]:
data.head()

   stmt_id  stmt_amount  ... ckt_amount                               buyer_name
0        1       100.00  ...      20.00                        SAVMUEJICE EPHOCP
1        2        23.77  ...      14.91  LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2        3        18.00  ...      13.20                              SUQ UNAISIE
3        4        21.87  ...      36.90                  GOZK BIHKAUT LIV LATAPI
4        7         9.19  ...      26.29         HUY ZABIRAN HATIZAN WIHMI IRYIZ

[5 rows x 6 columns]

In [ ]:
def match_name(stmt_amount, desc, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for buyer_name in (checkout['ckt_id'], checkout['buyer_name']):
        #Finding fuzzy match score
        score = fuzz.ratio(desc, buyer_name)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = stmt_id
            max_score = score
    return (max_name)

In [ ]:
def find_match(stmt_amount, desc):
    potential_match = checkout[checkout['ckt_amount']==stmt_amount]
    result = []
    for ckt_id, buyer_name in zip(potential_match['ckt_id'], potential_match['buyer_name']):
        score = compare_fuzzy(desc, buyer_name)
        if score > 0:
            result.append((ckt_id,score))
    return result

In [ ]:
def get_max(list_of_tuple):
    max_score = -1
    final_id = ""
    min_score = 0
    for stmt_id, score in list_of_tuple:
        if (score > min_score) & (score > max_score):
            max_score = score
            final_id = stmt_id
    return final_id

In [ ]:
final_result = []

In [ ]:
from fuzzywuzzy import process
def compare_fuzzy(desc,buyer_name):
    return fuzz.partial_ratio(desc,buyer_name)

In [ ]:
for stmt_id, stmt_amount, desc in zip(bank['stmt_id'], bank['stmt_amount'], bank['desc']):
    ckt_id = get_max(find_match(stmt_amount, desc))
    final_result.append((stmt_id,ckt_id))