In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Shopee pip pip calon mantu/order_brush_order.csv')

In [ ]:
df.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [ ]:
df.describe()

            orderid        shopid        userid
count  2.227500e+05  2.227500e+05  2.227500e+05
mean   3.130027e+13  9.433117e+07  9.802880e+07
std    1.222774e+11  5.695790e+07  6.839048e+07
min    3.107520e+13  1.000900e+04  1.000700e+04
25%    3.120360e+13  4.980267e+07  3.508127e+07
50%    3.130561e+13  9.033636e+07  9.309625e+07
75%    3.140604e+13  1.475053e+08  1.590612e+08
max    3.150720e+13  2.154352e+08  2.155262e+08

In [ ]:
#buat ngubah string to date time
df["event_time"] = pd.to_datetime(df['event_time'])

In [ ]:
#Get all orders with group by userid and shopid
df = df.set_index(pd.DatetimeIndex(df['event_time'])).drop('event_time', axis=1).sort_index()
orders = df.groupby(['shopid', 'userid', pd.Grouper(freq='H',label='left', base=0)]).count()
#nah freq='H' itu buat nampilin jam kalo freq='M' yab=ng muncul tahun doang

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
orders

                                         orderid
shopid    userid    event_time
10009     196962305 2019-12-27 03:00:00        1
10051     2854032   2019-12-27 19:00:00        1
          48600461  2019-12-29 01:00:00        1
10061     62464559  2019-12-31 02:00:00        1
          130633421 2019-12-30 21:00:00        1
...                                          ...
214949521 46269178  2019-12-31 20:00:00        1
214964814 200983383 2019-12-29 22:00:00        1
215175775 13688804  2019-12-31 09:00:00        1
          129266028 2019-12-31 14:00:00        1
215435223 79515106  2019-12-31 18:00:00        1

[215877 rows x 1 columns]

In [ ]:
brush_order = orders[orders.orderid >=3]
brush_order
#ini aku ambil data order id >=3

                                         orderid
shopid    userid    event_time
10159     214988798 2019-12-29 20:00:00        3
10287     198097381 2019-12-30 00:00:00        3
          214226569 2019-12-31 01:00:00        3
10402     77819     2019-12-28 14:00:00        3
10536     672345    2019-12-27 11:00:00        3
...                                          ...
203531250 114282846 2019-12-29 17:00:00        3
204225676 198662175 2019-12-31 00:00:00        5
208696908 214111334 2019-12-30 17:00:00        3
210197928 52867898  2019-12-27 07:00:00        4
213141071 213646699 2019-12-27 01:00:00        3

[742 rows x 1 columns]

In [ ]:
listuserid = []
brush_order.reset_index().groupby('shopid')['userid'].apply(lambda x: listuserid.append(x.values))

shopid
10159        None
10287        None
10402        None
10536        None
29583        None
             ...
203531250    None
204225676    None
208696908    None
210197928    None
213141071    None
Name: userid, Length: 296, dtype: object

In [ ]:
listuserid

[array([214988798]),
 array([198097381, 214226569]),
 array([77819]),
 array([672345, 672345]),
 array([214495220, 215275495]),
 array([740844]),
 array([170385453]),
 array([190449497]),
 array([214992524]),
 array([264511]),
 array([181682008]),
 array([7670129]),
 array([75558350, 75558350]),
 array([62618064]),
 array([141006168]),
 array([565381]),
 array([188942105]),
 array([181408876]),
 array([15053804]),
 array([ 78451300, 123959597]),
 array([214568881]),
 array([212325226]),
 array([143847348]),
 array([740844]),
 array([556867]),
 array([9753706]),
 array([ 13135622, 162508227, 215382704]),
 array([197569856]),
 array([148176353]),
 array([84811421]),
 array([210920501]),
 array([8405753]),
 array([95058664]),
 array([148215831]),
 array([214546342]),
 array([136680607]),
 array([148215831]),
 array([156614746]),
 array([214588488]),
 array([128838735]),
 array([195918606]),
 array([32594]),
 array([128702876]),
 array([200925208]),
 array([205729485, 205729485, 205729485]),
 array([214300427]),
 array([93880473]),
 array([192684666]),
 array([102125116]),
 array([115994773]),
 array([107170776]),
 array([154495684]),
 array([4163235]),
 array([89014205]),
 array([192400689]),
 array([2824209]),
 array([193338089]),
 array([213989374]),
 array([170673735]),
 array([19037973]),
 array([135952]),
 array([  9069878, 128431789]),
 array([188025647]),
 array([88991923]),
 array([174145893]),
 array([192785138]),
 array([114498557]),
 array([33794624]),
 array([15861876]),
 array([138388930]),
 array([107641182]),
 array([79239008]),
 array([10221040]),
 array([156774808]),
 array([2097773]),
 array([71351517]),
 array([42816223]),
 array([214226569]),
 array([81592089]),
 array([ 50672876, 213250490, 214432120]),
 array([214226569]),
 array([116055684]),
 array([207435467]),
 array([207880909]),
 array([214365114]),
 array([172106152]),
 array([179171579]),
 array([29857724]),
 array([5307816]),
 array([131375087]),
 array([199382229]),
 array([107414154]),
 array([48207392]),
 array([  2973390,  47919266, 134786596, 152051591]),
 array([61893096]),
 array([12425335]),
 array([152352709]),
 array([214623481]),
 array([80682958]),
 array([33794624]),
 array([2766278]),
 array([  2015273,  18081783,  47796836,  67897737,  95846235,  96074501,
        107926677, 107995552, 113071507, 120391565, 137401370, 137401370,
        141006168, 173992146, 194756996, 208922941, 214190250]),
 array([81928284]),
 array([101866283]),
 array([112649507]),
 array([172591713]),
 array([194833170, 194833170]),
 array([157936293]),
 array([29503]),
 array([215123671]),
 array([122507717]),
 array([194647522]),
 array([29466045]),
 array([183440131, 183440131, 183440131]),
 array([43900335]),
 array([67554410]),
 array([10209247]),
 array([215293398]),
 array([81928284]),
 array([11053808]),
 array([199382229]),
 array([214628840]),
 array([30244568]),
 array([204863932]),
 array([69523106]),
 array([96470129]),
 array([78903959]),
 array([197569856]),
 array([123158564]),
 array([77374158]),
 array([130021933]),
 array([77374158]),
 array([181942741]),
 array([118860287]),
 array([24491487, 40916458]),
 array([65814291]),
 array([186634585]),
 array([119785264]),
 array([144612139]),
 array([178640685]),
 array([87846708]),
 array([215427525]),
 array([3295689]),
 array([81928284]),
 array([47750501]),
 array([7300419]),
 array([133607969]),
 array([214680031]),
 array([15697974]),
 array([214398364]),
 array([79419297]),
 array([15826134]),
 array([189834273]),
 array([193338089]),
 array([89312509]),
 array([124597967]),
 array([215243653]),
 array([61348019]),
 array([105731761]),
 array([124597967, 124597967]),
 array([108402614]),
 array([199696834]),
 array([197470611]),
 array([2434757]),
 array([59440029]),
 array([214226569]),
 array([188187242]),
 array([80682958]),
 array([81928284]),
 array([213714377]),
 array([10051694]),
 array([214431654]),
 array([148215831]),
 array([207428158]),
 array([1276208]),
 array([51759862]),
 array([9753706]),
 array([159315857]),
 array([31233680]),
 array([157946285]),
 array([199703906]),
 array([133542654]),
 array([178640685]),
 array([41332694]),
 array([215433596]),
 array([46388757]),
 array([117199298]),
 array([81928284]),
 array([200925208]),
 array([193415051]),
 array([870607]),
 array([37915675]),
 array([46361526]),
 array([80682958]),
 array([92275977]),
 array([210701971, 213714377]),
 array([78685901]),
 array([51759862]),
 array([214747060]),
 array([12869645]),
 array([131515076]),
 array([76441165]),
 array([214327515]),
 array([215408773]),
 array([18688337]),
 array([86802680]),
 array([192251866]),
 array([152710183]),
 array([178640685]),
 array([110489903]),
 array([59725263, 59725263]),
 array([40929352]),
 array([178491887, 178491887, 178491887, 191211430, 191211430]),
 array([62080153]),
 array([58467478]),
 array([73207860]),
 array([613919]),
 array([31713663]),
 array([ 33390271,  67212721, 108527248, 167118002, 190256334]),
 array([67554410]),
 array([215408773]),
 array([214411855]),
 array([179171579]),
 array([201343856]),
 array([    22184,     22184,    108140,    221050,    230780,    257446,
           852561,   1302294,   1313870,   1328449,   1333809,   1605354,
          1997501,   2282464,   2284151,   2812894,   2857083,   3142265,
          3142265,   3142265,   3142265,   3142265,   3142265,   3168593,
          3303075,   3524519,   3679053,   3679069,   3682741,   3766486,
          4634352,   4769572,   4990834,   5214973,   5333888,   5598921,
          6419304,   6978796,   7255561,   7379223,   7616036,   7616036,
          7616036,   7872248,   8032878,   8248454,   9042404,   9234875,
          9249641,   9297293,   9535411,   9613337,   9613337,   9613337,
         10562609,  11290324,  12033405,  12282583,  12920552,  13082000,
         13487830,  13949360,  14887566,  14975169,  15386904,  15454087,
         16847937,  16950820,  18138245,  19260741,  19443866,  19970394,
         21055967,  21136873,  21580908,  21676160,  21676160,  21959234,
         21959234,  23615509,  23857471,  23961096,  25931282,  28031349,
         29815158,  29999724,  30279967,  30279967,  35999025,  36622590,
         37434703,  37753208,  38947746,  38947746,  41505452,  43074846,
         43480336,  43652561,  43652561,  43652561,  43652561,  43652561,
         45163392,  45685116,  46430327,  47408456,  48207159,  48467572,
         48793634,  50499134,  50499134,  50499134,  50499134,  51302665,
         52097335,  52097335,  52097335,  52097335,  52097335,  52253138,
         52255254,  52255254,  52255254,  52255254,  52415138,  54342655,
         55064264,  55372731,  55446317,  56856638,  57186800,  57323021,
         57344695,  58009118,  58009118,  58009118,  59282182,  60616591,
         61660037,  63944006,  64738881,  66587174,  68242865,  68395760,
         68395760,  70721021,  70721021,  70777735,  70951516,  70951516,
         71026438,  71632852,  72624961,  73927480,  75352390,  76151932,
         76431401,  76431401,  77645501,  77675748,  77860383,  78274359,
         78767064,  80060796,  80060796,  80104956,  80347087,  80590651,
         80660408,  81741401,  81888626,  81926317,  82471735,  83653234,
         84226482,  86051997,  86875149,  86875149,  87566256,  87600398,
         87640820,  88350243,  88587531,  88587531,  88732127,  88910810,
         89250352,  89787071,  89835507,  89835507,  89835507,  90015583,
         92945553,  95436710,  95619116,  96033432,  96334071,  98679380,
         98715548,  99528346,  99869537, 101092594, 101092594, 101549755,
        101783525, 102626928, 102626928, 102626928, 103256866, 103256866,
        103684322, 103811539, 103837177, 103946724, 104066552, 104509004,
        106295774, 107331095, 107331095, 108208679, 109720789, 112716544,
        112716544, 113401158, 113418397, 113418397, 113830512, 113939321,
        114407578, 114753963, 114753963, 114868920, 115392603, 115590534,
        115590534, 116997245, 116997245, 117276837, 117848891, 120413619,
        120693363, 120693363, 126023923, 130930377, 131883597, 134137911,
        134718861, 134790039, 137593433, 137593433, 139762166, 141883405,
        142916751, 144610534, 144724862, 144764900, 145622447, 145745881,
        147478511, 153408437, 154369164, 154598501, 157594830, 157594830,
        159561395, 159992534, 160879331, 162432399, 162715823, 163220673,
        164098479, 164098479, 164098479, 164098479, 164098479, 164575130,
        165179681, 165586590, 166081737, 166251023, 166669567, 168198505,
        168198505, 170984884, 172089401, 172678353, 172678353, 173237758,
        173768619, 173871950, 176255344, 176331393, 177376391, 177830929,
        179227825, 179543308, 179885318, 180137319, 182005889, 183178002,
        186010736, 186403294, 188240576, 188303111, 188396509, 189029587,
        190222721, 190222721, 190222721, 190222721, 192449882, 192542811,
        192610446, 192712485, 192747816, 193185908, 194907100, 195350861,
        195350861, 195995002, 197551102, 197551102, 198218978, 199110270,
        199110270, 199129617, 199746380, 200498286, 203029875, 203538523,
        203538523, 203742758, 204101380, 204149028, 204173082, 204797177,
        204834774, 205046026, 205435395, 205583383, 205583383, 205951406,
        205951406, 206207184, 206207184, 206585991, 206710851, 206710851,
        206764580, 206794371, 207453237, 207802408, 208313653, 208497729,
        208806468, 208806468, 208806468, 208806468, 208806468, 208822367,
        209034704, 210128111, 210308416, 210308416, 210362283, 210406536,
        211174143, 211429582, 211786490, 211942260, 212200685, 212284799,
        212480041, 212970579, 212970579, 213162186, 213411810, 213443623,
        213519081, 213526271, 213526271, 213578527, 213787697, 213889437,
        213906397, 214013572, 214653182, 214974604, 215043946, 215386315]),
 array([199382229]),
 array([108214177]),
 array([169671453]),
 array([36097212]),
 array([215169091]),
 array([111390406]),
 array([169948888]),
 array([188431260]),
 array([156202149]),
 array([129084826]),
 array([160736815]),
 array([ 68757133,  76102350, 136087303, 136087303, 188025647, 188025647,
        206053604]),
 array([204919399]),
 array([125177353]),
 array([120099470]),
 array([69563623]),
 array([74027394]),
 array([180862522]),
 array([199382229]),
 array([203554877]),
 array([162389170]),
 array([119654795]),
 array([79918735, 79918735]),
 array([ 18885346, 181542467]),
 array([78903959]),
 array([93783570]),
 array([114282846]),
 array([6059093]),
 array([148215831]),
 array([193338089]),
 array([2137694]),
 array([ 42792937, 160998347]),
 array([1866916]),
 array([96046105]),
 array([215301243]),
 array([12597591]),
 array([81928284]),
 array([132704747]),
 array([187697407]),
 array([132397558]),
 array([98709440]),
 array([71152760]),
 array([101832161, 214208720]),
 array([126543234]),
 array([199382229]),
 array([210932914]),
 array([158048102]),
 array([8330029]),
 array([2677380]),
 array([31215088]),
 array([31916119]),
 array([211943763]),
 array([799445]),
 array([214925963]),
 array([191211430]),
 array([179171579]),
 array([213646699]),
 array([ 94497233, 183745983]),
 array([1762129]),
 array([105935455]),
 array([129799840]),
 array([89254393]),
 array([92521144]),
 array([214605778]),
 array([189834273]),
 array([73308605]),
 array([114282846]),
 array([198662175]),
 array([214111334]),
 array([52867898]),
 array([213646699])]

In [ ]:
brush_order.reset_index().drop_duplicates(subset = ["shopid"])
#drop duplicate shopide

        shopid     userid          event_time  orderid
0        10159  214988798 2019-12-29 20:00:00        3
1        10287  198097381 2019-12-30 00:00:00        3
3        10402      77819 2019-12-28 14:00:00        3
4        10536     672345 2019-12-27 11:00:00        3
6        29583  214495220 2019-12-27 23:00:00        4
..         ...        ...                 ...      ...
737  203531250  114282846 2019-12-29 17:00:00        3
738  204225676  198662175 2019-12-31 00:00:00        5
739  208696908  214111334 2019-12-30 17:00:00        3
740  210197928   52867898 2019-12-27 07:00:00        4
741  213141071  213646699 2019-12-27 01:00:00        3

[296 rows x 4 columns]

In [ ]:
#concat userid
def concat_userid(data):
    result = '&'.join(str(x) for x in data)
    return result

bulk_userid = []
for i in listuserid:
    bulk_userid.append(concat_userid(i))

In [ ]:
bulk_userid

['214988798',
 '198097381&214226569',
 '77819',
 '672345&672345',
 '214495220&215275495',
 '740844',
 '170385453',
 '190449497',
 '214992524',
 '264511',
 '181682008',
 '7670129',
 '75558350&75558350',
 '62618064',
 '141006168',
 '565381',
 '188942105',
 '181408876',
 '15053804',
 '78451300&123959597',
 '214568881',
 '212325226',
 '143847348',
 '740844',
 '556867',
 '9753706',
 '13135622&162508227&215382704',
 '197569856',
 '148176353',
 '84811421',
 '210920501',
 '8405753',
 '95058664',
 '148215831',
 '214546342',
 '136680607',
 '148215831',
 '156614746',
 '214588488',
 '128838735',
 '195918606',
 '32594',
 '128702876',
 '200925208',
 '205729485&205729485&205729485',
 '214300427',
 '93880473',
 '192684666',
 '102125116',
 '115994773',
 '107170776',
 '154495684',
 '4163235',
 '89014205',
 '192400689',
 '2824209',
 '193338089',
 '213989374',
 '170673735',
 '19037973',
 '135952',
 '9069878&128431789',
 '188025647',
 '88991923',
 '174145893',
 '192785138',
 '114498557',
 '33794624',
 '15861876',
 '138388930',
 '107641182',
 '79239008',
 '10221040',
 '156774808',
 '2097773',
 '71351517',
 '42816223',
 '214226569',
 '81592089',
 '50672876&213250490&214432120',
 '214226569',
 '116055684',
 '207435467',
 '207880909',
 '214365114',
 '172106152',
 '179171579',
 '29857724',
 '5307816',
 '131375087',
 '199382229',
 '107414154',
 '48207392',
 '2973390&47919266&134786596&152051591',
 '61893096',
 '12425335',
 '152352709',
 '214623481',
 '80682958',
 '33794624',
 '2766278',
 '2015273&18081783&47796836&67897737&95846235&96074501&107926677&107995552&113071507&120391565&137401370&137401370&141006168&173992146&194756996&208922941&214190250',
 '81928284',
 '101866283',
 '112649507',
 '172591713',
 '194833170&194833170',
 '157936293',
 '29503',
 '215123671',
 '122507717',
 '194647522',
 '29466045',
 '183440131&183440131&183440131',
 '43900335',
 '67554410',
 '10209247',
 '215293398',
 '81928284',
 '11053808',
 '199382229',
 '214628840',
 '30244568',
 '204863932',
 '69523106',
 '96470129',
 '78903959',
 '197569856',
 '123158564',
 '77374158',
 '130021933',
 '77374158',
 '181942741',
 '118860287',
 '24491487&40916458',
 '65814291',
 '186634585',
 '119785264',
 '144612139',
 '178640685',
 '87846708',
 '215427525',
 '3295689',
 '81928284',
 '47750501',
 '7300419',
 '133607969',
 '214680031',
 '15697974',
 '214398364',
 '79419297',
 '15826134',
 '189834273',
 '193338089',
 '89312509',
 '124597967',
 '215243653',
 '61348019',
 '105731761',
 '124597967&124597967',
 '108402614',
 '199696834',
 '197470611',
 '2434757',
 '59440029',
 '214226569',
 '188187242',
 '80682958',
 '81928284',
 '213714377',
 '10051694',
 '214431654',
 '148215831',
 '207428158',
 '1276208',
 '51759862',
 '9753706',
 '159315857',
 '31233680',
 '157946285',
 '199703906',
 '133542654',
 '178640685',
 '41332694',
 '215433596',
 '46388757',
 '117199298',
 '81928284',
 '200925208',
 '193415051',
 '870607',
 '37915675',
 '46361526',
 '80682958',
 '92275977',
 '210701971&213714377',
 '78685901',
 '51759862',
 '214747060',
 '12869645',
 '131515076',
 '76441165',
 '214327515',
 '215408773',
 '18688337',
 '86802680',
 '192251866',
 '152710183',
 '178640685',
 '110489903',
 '59725263&59725263',
 '40929352',
 '178491887&178491887&178491887&191211430&191211430',
 '62080153',
 '58467478',
 '73207860',
 '613919',
 '31713663',
 '33390271&67212721&108527248&167118002&190256334',
 '67554410',
 '215408773',
 '214411855',
 '179171579',
 '201343856',
 '22184&22184&108140&221050&230780&257446&852561&1302294&1313870&1328449&1333809&1605354&1997501&2282464&2284151&2812894&2857083&3142265&3142265&3142265&3142265&3142265&3142265&3168593&3303075&3524519&3679053&3679069&3682741&3766486&4634352&4769572&4990834&5214973&5333888&5598921&6419304&6978796&7255561&7379223&7616036&7616036&7616036&7872248&8032878&8248454&9042404&9234875&9249641&9297293&9535411&9613337&9613337&9613337&10562609&11290324&12033405&12282583&12920552&13082000&13487830&13949360&14887566&14975169&15386904&15454087&16847937&16950820&18138245&19260741&19443866&19970394&21055967&21136873&21580908&21676160&21676160&21959234&21959234&23615509&23857471&23961096&25931282&28031349&29815158&29999724&30279967&30279967&35999025&36622590&37434703&37753208&38947746&38947746&41505452&43074846&43480336&43652561&43652561&43652561&43652561&43652561&45163392&45685116&46430327&47408456&48207159&48467572&48793634&50499134&50499134&50499134&50499134&51302665&52097335&52097335&52097335&52097335&52097335&52253138&52255254&52255254&52255254&52255254&52415138&54342655&55064264&55372731&55446317&56856638&57186800&57323021&57344695&58009118&58009118&58009118&59282182&60616591&61660037&63944006&64738881&66587174&68242865&68395760&68395760&70721021&70721021&70777735&70951516&70951516&71026438&71632852&72624961&73927480&75352390&76151932&76431401&76431401&77645501&77675748&77860383&78274359&78767064&80060796&80060796&80104956&80347087&80590651&80660408&81741401&81888626&81926317&82471735&83653234&84226482&86051997&86875149&86875149&87566256&87600398&87640820&88350243&88587531&88587531&88732127&88910810&89250352&89787071&89835507&89835507&89835507&90015583&92945553&95436710&95619116&96033432&96334071&98679380&98715548&99528346&99869537&101092594&101092594&101549755&101783525&102626928&102626928&102626928&103256866&103256866&103684322&103811539&103837177&103946724&104066552&104509004&106295774&107331095&107331095&108208679&109720789&112716544&112716544&113401158&113418397&113418397&113830512&113939321&114407578&114753963&114753963&114868920&115392603&115590534&115590534&116997245&116997245&117276837&117848891&120413619&120693363&120693363&126023923&130930377&131883597&134137911&134718861&134790039&137593433&137593433&139762166&141883405&142916751&144610534&144724862&144764900&145622447&145745881&147478511&153408437&154369164&154598501&157594830&157594830&159561395&159992534&160879331&162432399&162715823&163220673&164098479&164098479&164098479&164098479&164098479&164575130&165179681&165586590&166081737&166251023&166669567&168198505&168198505&170984884&172089401&172678353&172678353&173237758&173768619&173871950&176255344&176331393&177376391&177830929&179227825&179543308&179885318&180137319&182005889&183178002&186010736&186403294&188240576&188303111&188396509&189029587&190222721&190222721&190222721&190222721&192449882&192542811&192610446&192712485&192747816&193185908&194907100&195350861&195350861&195995002&197551102&197551102&198218978&199110270&199110270&199129617&199746380&200498286&203029875&203538523&203538523&203742758&204101380&204149028&204173082&204797177&204834774&205046026&205435395&205583383&205583383&205951406&205951406&206207184&206207184&206585991&206710851&206710851&206764580&206794371&207453237&207802408&208313653&208497729&208806468&208806468&208806468&208806468&208806468&208822367&209034704&210128111&210308416&210308416&210362283&210406536&211174143&211429582&211786490&211942260&212200685&212284799&212480041&212970579&212970579&213162186&213411810&213443623&213519081&213526271&213526271&213578527&213787697&213889437&213906397&214013572&214653182&214974604&215043946&215386315',
 '199382229',
 '108214177',
 '169671453',
 '36097212',
 '215169091',
 '111390406',
 '169948888',
 '188431260',
 '156202149',
 '129084826',
 '160736815',
 '68757133&76102350&136087303&136087303&188025647&188025647&206053604',
 '204919399',
 '125177353',
 '120099470',
 '69563623',
 '74027394',
 '180862522',
 '199382229',
 '203554877',
 '162389170',
 '119654795',
 '79918735&79918735',
 '18885346&181542467',
 '78903959',
 '93783570',
 '114282846',
 '6059093',
 '148215831',
 '193338089',
 '2137694',
 '42792937&160998347',
 '1866916',
 '96046105',
 '215301243',
 '12597591',
 '81928284',
 '132704747',
 '187697407',
 '132397558',
 '98709440',
 '71152760',
 '101832161&214208720',
 '126543234',
 '199382229',
 '210932914',
 '158048102',
 '8330029',
 '2677380',
 '31215088',
 '31916119',
 '211943763',
 '799445',
 '214925963',
 '191211430',
 '179171579',
 '213646699',
 '94497233&183745983',
 '1762129',
 '105935455',
 '129799840',
 '89254393',
 '92521144',
 '214605778',
 '189834273',
 '73308605',
 '114282846',
 '198662175',
 '214111334',
 '52867898',
 '213646699']

In [ ]:
df_brush = pd.DataFrame({"shopid": brush_order.reset_index()['shopid'].unique(), "userid": bulk_userid})
df_brush.head()

   shopid               userid
0   10159            214988798
1   10287  198097381&214226569
2   10402                77819
3   10536        672345&672345
4   29583  214495220&215275495

Setelah dianalisa terdapat 5 shopee id dan 8 user id yang terindikasi melakukan order burshing (pesanan palsu) dengan melakukan pemesanan berulang